{% extends "base.html" %}
{% load static %}

{% block css %}
<style>
    body {
        background: black;
    }
</style>
{% endblock css %}
{% block content %}
<div class="container">

    <div class="video">
        <div class="video-play">
            <iframe width="1000px" height="500px" src="https://www.youtube.com/embed/EUn8KQYMpoA" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <div class="button text-center">
                <a style=" color:white;" href="{% url 'formules' %}">REVENIR AUX OFFRES</a>
                <a href="{% url 'success' %}">CONTINUER</a>
            </div>

        </div>
    </div>
</div>

{% endblock content %}

<style>

</style>