{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="nav-container">
    <div class="logo">
        <img src="{% static '../static/main/images/logo.png' %}" alt="">
        <a href="{% url 'home' %}">LES BAINS DU MONDE FLOTTANT</a>
    </div>
    <div class="nav-links">
        <ul>
            <li>À propos</li>
            <li><a href="mailto:lemondeflottant@gmail.com">Contact</a></li>
            <li><a href="{% url 'formules' %}">Tarifs et abonnements</a></li>
        </ul>
    </div>
</div>

<div class="container container-2">
    <div class="navigation">
        <a href="{% url 'home' %} ">Accueil</a> / Tarifs et abonnements
    </div>

    <div class="header">
        <h1>Tarifs et abonnements</h1>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12 mb-4 display">
            <div class="card-container">
                <div class="titre">
                    <h4>Entrée simple :</h4>
                </div>
                <div class="description">
                    <p>Accès aux douches + bains thérapeutiques (2h)</p>
                </div>
                <div class="prix">
                    <p>5€</p>
                </div>
                <div class="voir">
                    <a href="">Choisir cet abonnement</a>
                </div>
            </div>
            <div class="image-f">
                <img src="{% static '../static/main/images/f1.jpg' %}" alt="" style='height: 250px; width: 100%;'>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 mb-4 display">
            <div class="card-container">
                <div class="titre">
                    <h4>Carnet 10 entrées: </h4>
                </div>
                <div class="description">
                    <p>Accès aux douches + bains thérapeutiques (2h)</p>
                </div>
                <div class="prix">
                    <p>40€</p>
                </div>
                <div class="voir">
                    <a href="">Choisir cet abonnement</a>
                </div>
            </div>
            <div class="image-f">
                <img src="{% static '../static/main/images/f2.jpg' %}" alt="" style='height: 250px; width: 550px;'>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 mb-4 display">
            <div class="card-container">
                <div class="titre">
                    <h4>Abonnement 3 mois : </h4>
                </div>
                <div class="description">
                    <p>Accès illimité aux douches + bains thérapeutiques</p>
                </div>
                <div class="prix">
                    <p>70 €</p>
                </div>
                <div class="voir">
                    <a href="{% url 'connexion' %}">Choisir cet abonnement</a>
                </div>
            </div>
            <div class="image-f">
                <img src="{% static '../static/main/images/f3.jpg' %}" alt="" style='height: 250px; width: 550px;'>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 mb-4 display">
            <div class="card-container">
                <div class="titre">
                    <h4>Abonnement 6 mois : </h4>
                </div>
                <div class="description">
                    <p>Accès illimité : douches + bains thérapeutiques + salles de fitness et stretching</p>
                </div>
                <div class="prix">
                    <p>100 €</p>
                </div>
                <div class="voir">
                    <a href="">Choisir cet abonnement</a>
                </div>
            </div>
            <div class="image-f">
                <img src="{% static '../static/main/images/f4.jpeg' %}" alt="" style='height: 250px; width: 550px;'>
            </div>
        </div>

    </div>

</div>

{% endblock content %}