{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="nav-container">
    <div class="logo">
        <img src="{% static '../static/main/images/logo.png' %}" alt="">
        <a href="{% url 'home' %}">LES BAINS DU MONDE FLOTTANT</a>
    </div>
    <div class="nav-links">
        <ul>
            <li> <a href="#propos" class="js-anchor-link">À propos</a></li>
            <li><a href="mailto:lemondeflottant@gmail.com">Contact</a></li>
            <li><a href="{% url 'formules' %}">Tarifs et abonnements</a></li>
        </ul>
    </div>
</div>

<div class="banner">
    <div class="banner-call">
        <a href="{% url 'formules' %}"> Découvrir nos soins</a>
    </div>
</div>

<div class="container container-2 ">
    <div class="row p-5">
        <div class="col-xs-12 col-sm-6">
            <div class="contact-photo">

            </div>
        </div>
        <div id="propos" class="col-xs-12 col-sm-6">
            <div class="contact-container">
                <h1>Les bains du monde flottant</h1>

                <h3>Contact</h3>
                <p>30 Avenue des Fruitiers, 93200, Saint-denis</p>
                <p>Tél: 01 82 46 20 00</p>
                <p>mail : lemondeflottant@gmail.com</p>

                <h3>Horaires d'ouverture</h3>

                <p>Nous sommes ouverts du mardi au dimanche de 8h à 20H</p>

            </div>



        </div>
    </div>
</div>
{% endblock content %}