{% extends "base.html" %}

{% block content %}
<div class="banner">
    <div class="banner-call">
        <a href="{% url 'formules' %}"> Découvrir nos soins</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">

        </div>
        <div class="col-xs-12 col-sm-6">
            <h1>Les bains du monde flottant</h1>

            <h3>Contact</h3>
            <p>30 Avenue des Fruitiers, 93200, Saint-denis</p>
            <p>Tél: 01 82 46 20 00</p>
            <p>mail : lemondeflottant@gmail.com</p>

            <h3>Horaires d'ouverture</h3>

            <p>Nous sommes ouverts du mardi au dimanche de 8h à 20H</p>



        </div>
    </div>
</div>
{% endblock content %}