// Formules Style
.container-2 {
    background: white;
}
.navigation {
    
    padding: 10px;
    margin-top: 20px;

    a {
        color: black;
    }
}

.header {
    text-align: center;
    margin: 40px 0;
}

.card-container {
    border: 2px dotted black;
    padding: 40px;
    height: 250px;
    width: 500px;
}

.display {
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.prix p {
    color: black;
}


.titre h4 {
    font-size: 25px;
    border-bottom : 1px solid black;
}

.video {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button a {
    color:white;
    padding-right: 40px;

}

.bg-black {
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: O 50px;
    label{
        color: white;
    } a {
        padding: 15px;
        margin-top: 40px;
        border: 1px solid white;
        color: white;
    } h1 {
        color: white;
        font-family: Courier;
        text-align: center;
        font-size: 20px;
    }
}